@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf"); }

/* Base */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 50%; }
  @media only screen and (min-width: 68.75em) {
    html {
      font-size: 62.5%; } }

body {
  color: #212121;
  display: grid;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
  line-height: 1.6; }

.section {
  display: grid;
  grid-column: center-start / center-end;
  grid-gap: 4rem;
  grid-template-rows: min-content 1fr;
  padding: 4rem; }
  .section__header {
    text-align: center; }
  .section__main {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr)); }

.heading-primary {
  color: inherit;
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 2rem;
  position: relative;
  text-transform: uppercase; }
  .heading-primary::after {
    background-color: #F44336;
    bottom: -1rem;
    content: "";
    height: .5rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: all .2s;
    width: 20%; }

.heading-secondary {
  color: inherit;
  font-size: 2rem;
  font-weight: 700; }

.heading-tertiary {
  color: #757575;
  font-size: 1.5rem;
  font-weight: 700; }

.header {
  background-color: #F44336;
  display: grid;
  grid-column: full-start / full-end;
  grid-template-columns: .3fr 1fr;
  grid-template-rows: 1fr 4rem; }
  .header__outer {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 1 / -1; }
  .header__inner {
    background-color: #FFFFFF;
    grid-column: 2 / -1;
    grid-row: 1 / span 1; }

.logo {
  justify-self: center; }
  .logo__img {
    height: 10rem;
    width: 10rem; }

.btn {
  background-color: #F44336;
  color: #FFFFFF;
  display: block;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: .3rem;
  padding: 2rem 4rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

.title-box {
  display: grid;
  justify-content: center;
  margin: 25rem 0; }
  .title-box__heading {
    text-align: center;
    margin-bottom: 4rem; }
    .title-box__heading--main {
      display: block;
      font-size: 5rem;
      font-weight: 300;
      text-transform: uppercase; }
    .title-box__heading--sub {
      color: #757575;
      display: block;
      font-size: 1.6rem;
      font-weight: 700; }

.card {
  background-color: #607D8B; }
  .card__title {
    letter-spacing: .3rem;
    text-transform: uppercase; }
  .card__main {
    align-items: center;
    color: #FFFFFF;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem 4rem;
    text-align: center; }
    .card__main p {
      margin-bottom: 2rem;
      text-align: justify; }
  .card__img {
    width: 100%; }

.social-networks__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 5rem));
  justify-content: center;
  justify-items: center;
  list-style: none; }

.social-networks__item {
  color: #FFFFFF;
  transition: all .2s; }
  .social-networks__item:hover {
    color: #BDBDBD; }

.social-networks__link:visited, .social-networks__link:link {
  color: inherit;
  display: block;
  font-size: 3rem; }

.to-top {
  background-color: rgba(189, 189, 189, 0.5);
  bottom: 2rem;
  color: #607D8B;
  cursor: pointer;
  font-size: 4rem;
  opacity: 0;
  padding: .2rem 2rem;
  position: fixed;
  right: 2rem;
  visibility: hidden;
  transition: all .3s; }

.footer {
  align-items: center;
  background-color: #F44336;
  display: grid;
  grid-column: full-start / full-end;
  grid-gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem; }
