.btn {
  background-color: $primary-color;
  color: $color-text;
  display: block;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: .3rem;
  padding: 2rem 4rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}