.social-networks {
  align-items: center;
  display: grid;
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
  &__item {
    background-color: var(--color-primary-200);
    color: var(--color-primary-500);
    border-radius: 50%;
    margin: var(--space-d);
    transition: var(--animation);
    
    &:hover {
      background-color: var(--color-primary-500);
      color: var(--color-secondary-500);
    }
  }
  &__link {
    align-items: center;
    color: inherit;
    display: flex;
    justify-content: center;
    padding: var(--space-l);
    text-decoration: none;
  }
  &__icon {
    font-size: 2.4rem;
  }
}
