:root {
  --animation: .2s cubic-bezier(0.24, 0.62, .94, .51);
  --space-sm: .16rem;
  --space-md: .32rem;
  --space-d: .64rem;
  --space-l: 1.28rem;
  --space-xl: 2.56rem;
  
  --header: 8rem;
  --main: 100vh;
  --footer: 18rem;
  
  --color-primary-100: #FAE6E8;
  --color-primary-200: #F3C0C6;
  --color-primary-300: #EC9AA4;
  --color-primary-400: #DE4E5F;
  --color-primary-500: #D0021B;
  --color-primary-600: #BB0218;
  --color-primary-700: #7D0110;
  --color-primary-800: #5E010C;
  --color-primary-900: #3E0108;
  
  --color-secondary-100: #FEFEFE;
  --color-secondary-200: #FDFDFD;
  --color-secondary-300: #FCFCFC;
  --color-secondary-400: #F9F9F9;
  --color-secondary-500: #F7F7F7;
  --color-secondary-600: #DEDEDE;
  --color-secondary-700: #949494;
  --color-secondary-800: #6F6F6F;
  --color-secondary-900: #4A4A4A;
  
  --color-tertiary-100: #E8E8E8;
  --color-tertiary-200: #C7C6C6;
  --color-tertiary-300: #A5A4A4;
  --color-tertiary-400: #615F5F;
  --color-tertiary-500: #1D1B1B;
  --color-tertiary-600: #1A1818;
  --color-tertiary-700: #111010;
  --color-tertiary-800: #0D0C0C;
  --color-tertiary-900: #090808;
}

/* Dark Mode */
[data-theme="dark"] {
  --color-primary-100: #3E0108;
  --color-primary-200: #5E010C;
  --color-primary-300: #7D0110;
  --color-primary-400: #BB0218;
  --color-primary-500: #D0021B;
  --color-primary-600: #DE4E5F;
  --color-primary-700: #EC9AA4;
  --color-primary-800: #F3C0C6;
  --color-primary-900: #FAE6E8;
  
  --color-secondary-100: #090808;
  --color-secondary-200: #0D0C0C;
  --color-secondary-300: #111010;
  --color-secondary-400: #1A1818;
  --color-secondary-500: #1D1B1B;
  --color-secondary-600: #615F5F;
  --color-secondary-700: #A5A4A4;
  --color-secondary-800: #C7C6C6;
  --color-secondary-900: #E8E8E8;
  
  --color-tertiary-100: #4A4A4A;
  --color-tertiary-200: #6F6F6F;
  --color-tertiary-300: #949494;
  --color-tertiary-400: #DEDEDE;
  --color-tertiary-500: #F7F7F7;
  --color-tertiary-600: #F9F9F9;
  --color-tertiary-700: #FCFCFC;
  --color-tertiary-800: #FDFDFD;
  --color-tertiary-900: #FEFEFE;
}
